@model Catagory

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Catagory Report</h1>
<link rel="stylesheet" href="~/css/site.css" />
<body>

    <div class="logo">
        <a href="Home">
            <img src="../images\logo.png" width="180" height="120" />
        </a>
    </div>

    <form method="post" asp-action="Create">
        <div class="mb-3">
            <label asp-for="CatagoryName" class="form-label">Catagory Name</label>
            <input asp-for="CatagoryName" class="form-control" placeholder="Enter Catagory Name" />
            <span asp-validation-for="CatagoryName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</body>