@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
        <h1 class="text-body-emphasis">Welcome to the Disaster Alleviation Fund Website</h1>
        <img src="images\logo.png" width="380" height="260" />
        <p class="col-lg-8 mx-auto lead">
            Please Navigate to the topic or topics of interest to you using the Navigation bar above!
        </p>
        <a class="btn btn-primary btn-lg px-4 rounded-pill" href="report-new-disaster">
            Report New Disaster
            <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short" /></svg>
        </a>
        <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="donate-money">
            Donate Money
        </a>
        <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="donate-items">
            Donate Items
        </a>
    </div>
</div>


