@{
    ViewData["Title"] = "Home Page";
}

  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Welcome to the Disaster Alleviation Fund Website</h1>
        <img src="images\logo.png" width="380" height="260" />
      <p class="col-lg-8 mx-auto lead">
        Please Navigate to the topic or topics of interest to youusing the Navigation bar above!
      </p>
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Report New Disaster
      <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg>
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Donate Money
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Donate Items
    </button>
    </div>
  </div>

