<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourcegroups/AZ-JHB-RSG-VCGPPT-ST10088840-TER/providers/Microsoft.Web/sites/APPR6312POEPart1DAF20230913204542</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPPT-ST10088840-TER</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://appr6312poepart1daf20230913204542.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b10ed04e-eff8-4bc9-b412-109be12e8e6e</ProjectGuid>
    <PublishUrl>https://appr6312poepart1daf20230913204542.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APPR6312POEPart1DAF20230913204542</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>