@model DonationMoney
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is the data for money Donation made by @Model.Doner on the @Model.Date</h1>
